<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <div class="grilla">
        <table>
            <tr>
              <th>N° Ref</th>
              <th>Menu (Viene con papas o ensaladas, elegir guarnicion con la ref)</th>
              <th>Semana 1</th>
              <th>Semana 2</th>
              <th>Semana 3</th>
              <th>Semana 4</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Milanesa de pollo o carne sola o a la pizza</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="thA">X</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Pastel de carne y papas</td>
              <td></td>
              <td class="thA">X</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Carne al horno</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Pata muslo/Carne/Cerdo (Puede venir cualquier variedad)</td>
                <td class="thA">X</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Pollo relleno+papa</td>
                <td></td>
                <td class="thA">X</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Sandwich Pollo o Milanesa c/Lechuga-Tomate</td>
                <td></td>
                <td></td>
                <td class="thA">X</td>
                <td></td>
            </tr>
            <tr>
                <td>7</td>
                <td>Medallones de pollo</td>
                <td class="thA">X</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>8</td>
                <td>Arroz con pollo</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Fideos o Ravioles con crema + medallon de pollo</td>
                <td></td>
                <td class="thA">X</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>10</td>
                <td>Lasagna tradicional con jamon y queso</td>
                <td></td>
                <td></td>
                <td class="thA">X</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <th>Empanadas (Todos los dias) Porcion: Hasta 2 elecciones+ensalada</th>
                <th>Semana 1</th>
                <th>Semana 2</th>
                <th>Semana 3</th>
                <th>Semana 4</th>
            </tr>
            <tr>
                <td>11</td>
                <td>De pollo</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>12</td>
                <td>De carne</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>13</td>
                <td>De JyQ</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>14</td>
                <td>De Cebolla y queso</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>15</td>
                <td>De verdura</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>16</td>
                <td>De Choclo</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <th></th>
                <th>Tartas (Todos los dias) Porcion:1 Eleccion + Ensalada</th>
                <th>Semana 1</th>
                <th>Semana 2</th>
                <th>Semana 3</th>
                <th>Semana 4</th>
            </tr>
            <tr>
                <td>17</td>
                <td>De calabaza</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>18</td>
                <td>De verdura</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>19</td>
                <td>De JyQ</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td></td>
                <th>Ensaladas - Sujeto a la preparacion del dia</th>
                <th>Semana 1</th>
                <th>Semana 2</th>
                <th>Semana 3</th>
                <th>Semana 4</th>
            </tr>
            <tr>
                <td>20</td>
                <td>Ensalda Cruda (Zanahoria, tomate, rucula, huevo duro, lechuga)</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Ensalada cocida (Papas, chauchas, brocolis, huevo duro, remolacha, arroz, lentejas)</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td></td>
                <th>Menu vegetariano (viene con ensalada o papa)</th>
                <th>Semana 1</th>
                <th>Semana 2</th>
                <th>Semana 3</th>
                <th>Semana 4</th>
            </tr>
            <tr>
                <td>22</td>
                <td>Pastel de vegetales</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Medallones de verduras</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Medallones de lentejas</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Milanesas de berenjena</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Medallones de calabaza con queso gratinado</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>27</td>
                <td>Sorrentinos de calabaza</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>28</td>
                <td>Canelones de verdura</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td></td>
                <th>Guarnicion de papa</th>
                <th>Semana 1</th>
                <th>Semana 2</th>
                <th>Semana 3</th>
                <th>Semana 4</th>
            </tr>
            <tr>
                <td>29</td>
                <td>Papa frita</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
            <tr>
                <td>30</td>
                <td>Papa al horno</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
                <td class="thA">X</td>
            </tr>
          </table>
    </div>
</body>
<script src="../Controllers/menu.js"></script>
</html>